* {
    background-color: rgb(66, 60, 60);

}

#inputn {
    width: 30%;
    color: white;
    padding: 12px 20px;
    padding-left: 0%;
    margin: 60px 35%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(238, 229, 229);

}

#inputn:focus {
    outline: none;
}

#inpute {
    width: 30%;
    color: white;
    padding: 12px 20px;
    padding-left: 0%;
    margin: 20px 35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(238, 229, 229);

}

#inpute:focus {
    outline: none;
}

#inputp {
    width: 30%;
    color: white;
    padding: 12px 20px;
    padding-left: 0%;

    margin: 20px 35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(238, 229, 229);

}

#inputp:focus {
    outline: none;
}

#inputnm {
    width: 30%;
    padding: 12px 20px;
    color: white;
    padding-left: 0%;

    margin: 20px 35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(238, 229, 229);

}

#inputnm:focus {
    outline: none;
}

#inputm {
    width: 30%;
    padding: 0px 20px;
    padding-bottom: 7%;
    padding-top: 20px;
    padding-left: 0%;
    color: white;
    margin: 20px 35%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(238, 229, 229);

}

#inputm:focus {
    outline: none;
}

#button {
    margin: 43%;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 0%;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(39, 132, 253);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


#buttoncancel {
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
}